variable "email" {
  default     = "foobar"
  description = "your email"
}

variable "api-key" {
  default     = "foobar"
  description = "your api key on heroku"
}

variable "app-name" {
  default     = "foobar"
  description = "your app name on heroku"
}

variable "app-id" {
  default     = "foobar"
  description = "your app id on heroku"
}

